# JetBrains IDE
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Conda
.conda/
conda-env/
anaconda/
miniconda/
envs/
.envs/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.dat
*.out
*.pid
*.seed
*.log

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db